.dropdown-menu__options {
    flex: 0 0 auto;
    position: relative;
}

.dropdown-menu__options-button
{
    background-color: transparent;
    outline: transparent;
    border: none;
    transition: 0.3s;
}

.dropdown-menu__options-button:hover
{
    background-color: rgb(241, 240, 240);
    border-radius: 5px;
}

.dropdown-menu {
    border-radius: 5px;
    border: 1px solid black;
    min-width: 210px;
    height: auto;
    background-color: rgb(255, 255, 255);
    top: 100%;
    right: 100%;
    position: absolute;
}

.dropdown-menu__list {
    list-style: none;
}


.dropdown-menu__link {
    display: block;
    padding: 10px;
    width: 100%;
}

.dropdown-menu__button {
    display: block;
    padding: 10px;
    width: 100%;
}

.dropdown-menu__list-item {
    border-bottom: 1px solid #EEEEEE;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-menu__list-item:last-child {
    border-bottom: none;
}