.search-filter-options {
    display: flex;
    position: relative;
}

.search-filter-options__btn {
    display: flex;
    align-items: center;
    width: auto;
    background-color: #EEEEEE;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    word-wrap: normal;
    margin: 0.5em 0.5em 0.5em 0.5em;
    white-space: nowrap;
}

.filter-by-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: aquamarine;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

.filter-by-menu-group {
    margin: 5px 5px 15px 5px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    max-height: 500px;
    overflow: hidden;
}

.filter-by-menu-group--hidden {
    opacity: 1;
    max-height: 40px;
    transition: all 0.3s ease-in-out;
}

.filter-by-menu-group ul {
    transition: all 0.3s ease-in-out;
}

.filter-by-menu-group--hidden ul {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}



.filter-by-menu-group-heading {
    display: flex;
    align-items: center;
    width: 100%;
}

.filter-by-menu-group-heading__title {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 2;

}

.filter-by-menu-group ul li {
    list-style: none;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.filter-by-menu-group ul li input[type='checkbox'] {
    margin-right: 5px;
    width: 1.15em;
    height: 1.15em;
    font-size: 1.2rem;
}

.filter-by-menu-pointer {
    margin: 0;
    position: absolute;
    top: -18px;
    right: 10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid aquamarine;
    border-top: 10px solid #009dff00;
    border-left: 10px solid #009dff00;
    border-right: 10px solid #009dff00;
    z-index: -1;
}

.filter-by-menu-group .filter-by-menu-group-heading .icon-wrapper {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.filter-by-menu-group--hidden .filter-by-menu-group-heading .icon-wrapper {
    transform: rotate(-90deg);
}