.resources-listing-card-skeleton {
    border-radius: 5px;
    border: 2px solid #EEEEEE;
    margin-top: 1em;
    height: 250px;
}

.resources-listing-card-skeleton__row {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.resources-listing-card-skeleton__column {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.resources-listing-card-skeleton__name {
    flex: 2 1 auto;
    margin-bottom: 10px;
    width: 50px;
    height: 10px;
}

.resources-listing-card-skeleton__options {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.resources-listing-card-skeleton__description {
    padding: 0.5em;
    margin-top: 10px;
    border-top: 1px solid #EEEEEE;
}