.sidebar {
    background-color: rgb(255, 255, 255);
    width: 5em;
    height: 100%;
    transition: 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar--expanded {
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 100%;
    transition: 0.5s;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
}


.sidebar__container-overlay {
    display: none;
}

.sidebar--expanded .sidebar__container-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5em;
    flex-grow: 2;
    border-bottom: 2px solid #EEEEEE;
    background-color: #FFFFFF;
}

.sidebar__container-name--expanded {
    display: inline-block;
    flex-grow: 2;
    text-align: center;
}

.sidebar__container-name {
    display: none;
}

.sidebar .sidebar__container-icon {
    margin-bottom: 10px;
}


.sidebar__container-icon {
    background-color: gray;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 0 5px 0 5px;
}

.sidebar__container-menu-toggle {
    align-items: end;
    flex-grow: 0;
}


.sidebar__container-middle {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    flex-grow: 2;
    border-bottom: 2px solid #EEEEEE;
    background-color: #FFFFFF;
}

.sidebar__container-menu
{
    margin-bottom: 2em;
}

.sidebar__container-menu-list
{
    list-style: none;
}

.sidebar__container-menu-list-item {
    padding: 0.5em;
    background-color: #FFFFFF;
}

.sidebar__container-menu-list-item:hover,
.sidebar__container-menu-list-item:active,
.sidebar__container-menu-list-item:focus {
    background-color: #F3F3F3;
    border-radius: 5px;
}


.sidebar__container-menu-list-item>a,
.sidebar__container-menu-list-item>button {
    display: flex;
    padding: 0.5em;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.sidebar__container-menu-list-item > button
{
    font-size: inherit;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

.sidebar .sidebar__container-menu-list-item>a,
.sidebar .sidebar__container-menu-list-item>button  {
    display: inline-block;
    transition: 0.5s;
    color: transparent;
}


.sidebar__container-menu-list-item>a:first-child,
.sidebar__container-menu-list-item>button:first-child  {
    gap: 0.5em;
}

.sidebar__container-menu-list-item>a>svg {
    width: 32px;
    min-width: 32px;
    height: auto;
}


@media screen and (max-width: 768px) {

    .sidebar,
    .sidebar--expanded {
        width: 100%;
        height: 4em;
    }

    .sidebar--expanded .sidebar__container-top,
    .sidebar .sidebar__container-top {
        position: fixed;
        top: 0;
        width: 100%;
        max-height: 65px;
        z-index: 9999;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0.5em;
        flex-grow: 2;
        border-bottom: 2px solid #EEEEEE;
        background-color: #FFFFFF;
    }

    .sidebar__container-name {
        display: inline-block;
        flex-grow: 2;
        text-align: center;
    }

    .sidebar .sidebar__container-icon {
        margin-bottom: 0;
    }

    .sidebar__container-overlay {
        transition: opacity 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        height: 100%;
        width: 100%;
        z-index: 9998;
        width: 0;
        background-color: #0000005e;
        padding: 0;
        display: block;
        position: fixed;
    }

    .sidebar--expanded .sidebar__container-overlay {
        transition: opacity 0.5s ease-in-out;
        visibility: visible;
        opacity: 1;
        height: 100%;
        width: 100%;
    }


    .sidebar .sidebar__container-middle {
        transition:
            transform 0.5s ease-in-out,
            opacity 0.5s ease-in-out,
            visibility 0.5s ease-in-out;
    }

    .sidebar .sidebar__container-middle {
        transform: translateX(-100%);
        position: fixed;
        top: 65px;
        z-index: 9999;
        width: 60%;
        padding: 0;
        height: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar--expanded .sidebar__container-middle {
        position: fixed;
        top: 65px;
        z-index: 9999;
        width: 60%;
        padding: 0;
        height: 100%;
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transition:
            transform 0.5s ease-in-out,
            opacity 0.5s ease-in-out,
            visibility 0.5s ease-in-out, ;
    }


    .sidebar--expanded .sidebar__container-menu {
        display: block;
        background-color: #d0d0d0;
        height: 100%;
        width: 100%;
    }


    .sidebar .sidebar__container-menu {
        display: block;
        background-color: #d0d0d0;
        height: 100%;
        width: 100%;
    }


    .sidebar--expanded .sidebar__container-menu-list-item {
        background-color: white;
    }


    .sidebar .sidebar__container-menu-list-item>a,
    .sidebar .sidebar__container-menu-list-item>button,
    .sidebar--expanded .sidebar__container-menu-list-item>a,
    .sidebar--expanded .sidebar .sidebar__container-menu-list-item>button {
        display: flex;
        padding: 0.5em;
        align-items: center;
        flex-wrap: nowrap;
    }

}