.chapter-listings {
    overflow-x: auto;
}

.progress-pill {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.5em;
    gap:5px;
    width: max-content;
}

.progress-pill--not-started {
    background-color: #FFEAEA;
    color: #8B3030;
}

.progress-pill--in-progress {
    background-color: #FFFDEA;
    color: #B28A06;
}

.progress-pill--completed {
    background-color: #E9FFDF;
    color: #61885C;
}


.progress-pill__circle {
    border-radius: 12px;
    height: 12px;
    width: 12px;
}

.progress-pill__circle--not-started {
    background-color: #8B3030;
}

.progress-pill__circle--in-progress {
    background-color: #B28A06;
}

.progress-pill__circle--completed {
    background-color: #61885C;
}


.col-name {
    width: 65%;
}

.col-status,
.col-date,
.col-days {
    width: 10%;
    text-align: center;
}

.col-menu {
    width: 5%;
}


@media screen and (max-width:768px) {


    .col-name {
        flex: 1 1 80%;
        background-color: #F5F5F5;
        align-content: center;
    }

    .col-date {
        flex: 1 1 50%;
        border-bottom: 1px solid #EEEEEE;
    }


    .col-days {
        flex: 1 1 100%;
        border-bottom: 1px solid #EEEEEE;

    }

    .col-status {
        flex: 1 1 100%;
    }

    tbody .table-row:hover,
    tbody .table-row:nth-child(2n):hover {
        background-color: #f8fff1;
    }
}