
.table-head-cell {
    background-color: #EEEEEE;
    padding: 10px;
    border: 1px solid black;
}

.table-head-cell:first-child {

    border-radius: 5px  0 0;
}

.table-head-cell:last-child {
    border-radius: 0 5px 0 0;   
}


.table-container
{
    width: 100%;
}


.table-row-data {
    padding: 10px;
}

tbody .table-row
{
    background-color: #ffffff;
    transition: 0.3s;
}

tbody .table-row:nth-child(2n)
{
    background-color: #FAFFF5;
    transition: 0.3s;
}


tbody .table-row:hover,
tbody .table-row:nth-child(2n):hover
{
    background-color: #ceff96;
}

tbody .table-row:last-child td:first-child
{
    border-radius: 0 0 0 5px;   
}

tbody .table-row:last-child td:last-child
{
    border-radius: 0 0 5px 0;   
}

tbody .table-row-data.progress--completed
{
    background-color: #C8FFA6;
}

tbody .table-row-data.progress--in-progress
{
    background-color: #F5FFCB;
}

tbody .table-row-data.progress--not-started
{
    background-color: #FFD0CB;
}