.listings-no-results h1,
.listings-no-results p
{
    margin: 0.5em auto;
    display: block;
    width: 100%;
    font-weight: 300;
    text-align: center;
}

.listings-no-results p
{
    font-size: var(--desktop-table-font-size);
    color: #7a7a7a;
}