
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination-container button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;

}

.pagination-container button:disabled {
    background-color: #a2a2a2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: default;
    border-radius: 5px;
}
