.resources-listing {
    border: 1px solid black;
    padding: 5px;
    overflow-y: scroll;
    max-height: 500px;
}

.resources-listing-card {
    border-radius: 5px;
    border: 2px solid #EEEEEE;
    /* padding: 1em; */
    margin-top: 1em;
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.max-lines {
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 5em;
    /* line-height × number of lines */
    word-wrap: break-word;
}

.resources-listing-card__row {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.resources-listing-card__name {
    flex: 2 1 auto;
    margin-bottom: 10px;
}

.resources-listing-card__options {
    flex: 0 0 auto;
}

.resources-listing-card__description {
    padding: 0.5em;
    margin-top: 10px;
    border-top: 1px solid #EEEEEE;
}

.resources-listing-card__description-container {
    position: absolute;
}

.resources-listing-card__description-overlay {
    background-color: #F3F3F3;
    height: 20px;
    width: 100%;
}

.resources-listing-card__progress-bar__image {
    background-color: greenyellow;
    border-radius: 5px;
    width: 150px;
    height: 20px;
}

.resources-listing-card__progress-bar {
    flex: 1;
}

.resources-listing-card__category {
    flex: 2;
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}