.resources-listing {
    border: 1px solid black;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}

@media screen and (max-width: 1280px) {
    .resources-listing {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .resources-listing {
        display: flex;
        flex-direction: column;
    }
}