.modal-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 0 auto;
    min-width: 150px;
    padding: 1em;
    background-color: white;
    color: black;
    background-color: rgb(255 255 255);
    border-radius: 5px;
}

.modal-content-inner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content-inner-block__heading {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    flex: 2;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.modal-content-inner-block__text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2em;
}

.modal-content-inner-block__sub-text{
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 2em;
}

.modal-content-inner-block-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2em;
}

.modal-content-inner-block-buttons__confirm
{
    background-color: #B1FFC5;
    border: none;
}

.modal-content-inner-block-buttons__confirm:hover,
.modal-content-inner-block-buttons__confirm:active,
.modal-content-inner-block-buttons__confirm:focus
{
    background-color: #87e69f;
}

.modal-content-inner-block-buttons__cancel 
{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.modal-content-inner-block-buttons__cancel:hover,
.modal-content-inner-block-buttons__cancel:active,
.modal-content-inner-block-buttons__cancel:focus
{
    background-color: rgb(226, 226, 226);
}

.modal-content-inner-block-buttons__confirm,
.modal-content-inner-block-buttons__cancel {
    flex: 1;
    min-width: 100px;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}