.form-container {
    --border-color: #CFCBCB;
    border-radius: 5px;
    background-color: #FFFFFF;
    border:  1px solid var(--border-color);
    margin: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.form-inner-content {
    padding: 10px;
}

.form-header {
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    background-color: #FBFBFB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.centered-container,
.centered-fields {
    margin: 1.3em auto;
    width: 95%;
}

.form-field-wrapper>input[type].form-field,
.form-field-wrapper>select.form-field,
.form-field-wrapper>textarea.form-field,
.form-field-wrapper>button.form-field {
    width: 100%;
    padding: calc(0.3rem * 2);
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.form-field-wrapper label
{
    display: block;
    margin-bottom: 0.5em;
}

textarea.form-field {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2rem;
}

.form-field__error-message{
    color: red;
}

button.form-field
{
    background-color: rgb(0, 0, 0);
    color:#FFFFFF;
}