.search-box-listing
{
    width: 100%;
    border-radius: 5px;
    display:inline-block;
    position: relative;
    margin: 10px 10px 10px 0;
    border: 1px solid rgb(238, 238, 238);
}


.search-box-listing__text
{
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display:inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    padding-block-end: 5px;
    padding-inline-end:50px;
}

.search-box-listing__submit-btn 
{
    height: 100%;
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    top:0;
    right: 0;
    color: white;
    width: auto;
    background-color: rgb(177, 228, 255);
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    margin-top: 0;   
}

.search-box-listing__submit-btn:hover
{
    background-color: rgb(108, 204, 255);
}