.ai-search-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.ai-search-bar__icon {
    background-color: blueviolet;
    border-radius: 5px 0px 0px 5px;
    padding: 0.5em;
}


.ai-search-bar-input-container {
    width: 100%;
}

.ai-search-bar__input {
    background-color: #ffffff;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 0px;
    display: inline-block;
    margin: 0;
    outline: 0;
    padding: 0;
    padding-block-end: 5px;
    padding-inline-end: 5px;
    padding-inline-start: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    resize: none;
}

.ai-search-bar__button-wrapper {

    background-color: white;
    border-radius: 0px 5px 5px 0px;
}

.ai-search-bar__button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 0px 5px 5px 0px;
    border: none;
    margin-top: 0;
    height: 100%;
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.1s linear;
}

.ai-search-bar__button:disabled {
    color: rgba(36, 49, 61, 0.4);
    background-color: rgba(55, 72, 88, 0.7);
    cursor: default;
    transition: all 0.1s linear;
}


.ai-search-bar__icon--light-on {
    color: rgb(255, 255, 0);
    transition: all 0.1s linear;
}

.ai-search-bar__icon--light-off {
    color: rgb(255, 255, 255);
    transition: all 0.1s linear;
}