.dashboard-progress-card {
    min-width: 300px;
    height: 100%;
    border-radius: 5px;
    align-items: normal;
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
    flex-direction: column;
    padding: 5px;
}

.dashboard-progress-card__title {
    padding: 0.5em;
    margin-left: 0.5em;
}

.dashboard-progress-card__sub-title {
    display: block;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
    font-weight: 100;
    color: #A1A1A1;
}

.dashboard-progress-item__number-value
{
    font-weight: 600;
}

.dashboard-progress-item {
    margin-top: 1em;
    padding: 0.5em;
    border-top: 1px solid rgb(249, 249, 249);
}

.dashboard-progress-item-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dashboard-progress-item__name {
    flex-grow: 2;
}

.dashboard-progress-item-bar {
    position: relative;
    margin: 0.5em auto;
    background-color: #F3F3F3;
    border-radius: 5px;
    width: 100%;
    height: 10px;
}

.dashboard-progress-item-bar__overlay {
    background-color: #B1FFC5;
    border-radius: 5px;
    height: 10px;
    transition: width 1s ease-in-out;
}

.dashboard-progress-item-list {
    padding: 0.5em;
}