.dashboard-counter-card {
    align-items: normal;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #eee;
    display: flex;
    margin-top: 1em;
    margin:0.5em;
    min-width: 150px;
    height: auto;
    padding: 0.5em;
    flex-direction: column;
    padding: 5px;
}


.dashboard-counter-card__title {
    margin: 0.5em;
}

.dashboard-counter-card__count {
    font-size: 2rem;
    margin: 0.2em;
}

.dashboard-counter-card__sub-heading {
    margin: 0.5em;
    font-weight: 100;
    color: #A1A1A1;
}