.dashboard__widget
{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1.5em;
    margin: 1em 0.5em 1em 0.5em;
    border: 2px solid #EEEEEE;
    -webkit-box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.13);
    -moz-box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.13);
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.13);
}