.dashboard {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
    background-color: blanchedalmond;
}

.dashboard__main-content {
    flex: 1;
    background-color: cadetblue;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dashboard__widget-row {
    display: flex;
    flex: 1;
    min-height: 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .dashboard{
        flex-direction: column;
    }

    .dashboard__main-content
    {
        width:100%;
    }
}