.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.dashboard__main-content {
    background-color: cadetblue;
    width: 80%;
    height: 100%;
    padding: 5px;
}

.dashboard__widget-row {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

/* TODO - To organize and arrange cards.
.dashboard__widgets-container-row
{
}

.dashboard__widgets-container-column
{

}
*/
.sidebar {
    background-color: rgb(203, 255, 224);
    width: 5%;
    height: 100%;
    transition: 0.5s;
}

.sidebar--expanded {
    background-color: rgb(203, 255, 224);
    width: 20%;
    height: 100%;
    transition: 0.5s;
}

.sidebar__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
}

.sidebar--expanded .sidebar__container-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5em;
    flex-grow: 2;
    border-bottom: 2px solid #EEEEEE;
    background-color: #FFFFFF;
}

.sidebar__container-name--expanded {
    display: inline-block;
    flex-grow: 2;
    text-align: center;
}

.sidebar__container-name {
    display: none;
}

.sidebar .sidebar__container-icon {
    margin-bottom: 10px;
}


.sidebar__container-icon {
    background-color: gray;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 0 5px 0 5px;
}

.sidebar__container-menu-toggle {
    align-items: end;
    flex-grow: 0;
}


.sidebar__container-middle {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    flex-grow: 2;
    border-bottom: 2px solid #EEEEEE;
    background-color: #FFFFFF;
}

.sidebar__container-menu-list-item {
    padding: 0.5em;
}

.sidebar__container-menu-list-item:hover {
    background-color: #F3F3F3;
    border-radius: 5px;
}

.sidebar__container-menu-list-item>a {
    display: inline-block;
    padding: 0.5em;
    width: 100%;

}

.sidebar__container-menu-list-item>a {
    display: flex;
    padding: 0.5em;
    align-items: center;
    flex-wrap: nowrap;
}


.sidebar .sidebar__container-menu-list-item>a {
    display: inline-block;
    transition: 0.5s;
    color: transparent;
}

.sidebar__container-menu-list-item>a:first-child {
    gap: 1em;
}

.sidebar__container-menu-list-item>a>svg {
    width: 32px;
    height: auto;
}