.dashboard-statistics-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.dashboard-statistics-sm-card {
    margin: 5px;
    min-width: 150px;
    height: auto;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 5px;
}


.dashboard-statistics-sm-card__title {
    margin: 5px 5px;
}

.dashboard-statistics-sm-card__count {
    font-size: 2em;
}

.dashboard-statistics-md-card {
    margin: 5px;
    min-width: 300px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 5px;
}

.sa-col-1 {
    flex-grow: 1;
}

.sa-col-2 {
    flex-grow: 2;
}