.dashboard-statistics-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.dashboard-statistics-md-card {
    margin: 0.5em;
    min-width: 300px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 5px;
}

.sa-col-1 {
    margin-top: 1em;
    flex-grow: 1;
}

.sa-col-2 {
    margin-top: 1em;
    flex-grow: 2;
}